.navbar{
    background-color: black;
    font-family: 'Oleo Script', cursive;
}

.navbar ul{
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    height: 50px;
    text-align: center;
    margin-left: 525px;
}

.navbar ul li a{
    margin-right: 70px;
    color: white;
    text-decoration:none ;
    font-weight: 600;
    font-size: 1.2rem;
}  

 ul li a:hover{
    background-color:rgb(177,225,248) ;
    color: black;
    cursor: pointer;
    padding: 40px;
 }
